body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}


a{
    text-decoration: none;
    color: black;

}

a:hover{
    border-bottom: 2px solid black;
}


.header-text{
    display: flex;
    flex-direction: inherit;
    flex-wrap: nowrap;
    margin: 2%;
}

.left-info{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}


.right-info{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
}


.search-tab{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    padding-left: 5%;
}

#search{
    border: none;
    width: 60%;
    color: black;
    padding-top: 5px;
    font-size: small;
}

.main-content{
    display: flex;
    width: 100%;
    height: 450px;
    padding: 0;
    margin: 0;

}

.main-text{
    position: absolute;
    left: 9%;
    top: 25%;
}

#main-title{
    font-size: 200%;
    font-weight: 500;
    margin-bottom: 10px;
}

#under-title{
    font-size: 100%;
    width: 55%;
    margin-bottom: 40px;
}


#first-button{
    color: white;
    padding: 10px;
    background-color: #0067b8;
    font-weight: 600;
    border-radius: 2px;
    margin-right: 15px;
}

#second-button{
    font-weight: 500;
}



.content{
    display: flex;
    width: 100%;
    height: max-content;
    padding: 80px 0 80px 0;
    justify-content: center;
}


.mini-content{
    display: flex;
    width: 90%;
    height: 400px;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
}


.article{
    display: flex;
    flex-direction: column;
    width: 23%;

}

.article-title{
    font-size: 20px;
    font-weight: 600;

    padding: 0;
    margin: 10px 0 0 0;
}


.article-link{
    color:#0067b8;
    font-weight: 600;
    font-size: 16px;
}