.products {
  width: 25%;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 50px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.imag {
  width: 180px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.imag img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/



* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 600px;
}
body {
  background-color: #222224;
  background-image: linear-gradient(#17191f, #252a35);
  height: 100%;
  font-family: 'roboto', 'helvetica neue', arial, sans-serif;
}

#source{
  margin-top: 5px;
}
.like{
  margin: 5px;
  background-color: transparent;
  color: #17191f;
  border: 1px solid #17191f;
  cursor: pointer;
}
.like:hover{
  background-color: #ccc;

}
.delete{
  margin: 5px;
  background-color: brown;
  cursor: pointer;
}
.tablinks{
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 5px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}


.tablinks:hover {
  background-color: #ddd;
}


.tablinks.active {
  background-color: #ccc;
}
.search{
  margin: 3px;
}
